{% extends "layout/layout.html" %}
{% block title %}{{ block.super }} | about us{% endblock %}
{% block banner %}{% endblock %}
{% load static %}

{% block static_banner %}
    <div class="static_banner_about_us">
        <div class="static_banner_blur"></div>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="about_us">
                        <div class="about_us_header">
                            <h1><i class="fa fa-list-ul"></i>ABOUT US</h1>
                        </div>
                        <div class="about_us_body">
                            <p>
                                EGSO Company Limited is an Engineering company registered under the companies
                                Act, 1963, Act 176 of the law of Ghana. The company was incorporated in the 22nd
                                day of June, 2016 and commence to business in the 24th day of June, 2016.
                                The company has executed numerous projects mainly in the western region and
                                other part of the country.
                            </p>
                            <p>
                                EGSO Company Limited is currently operating in Land Surveying, Manufacturing of
                                Electrical and Electronic Devices, Quantity Surveying, Building and Civil Works,
                                Structural Design, Architectural Design, Road Constructions, Valuation and
                                Information Technology services. We bring innovative ideas into reality.
                            </p>
                            <p>
                                We have a wide range of clients, include the government of Ghana, individuals,
                                churches and cooperate bodies and district assemblies.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="services">
                        <div class="services_header">
                            <h1><i class="fa fa-list-ul"></i>OUR CORE SERVICES</h1>
                        </div>
                        <div class="our_service_body">
                            <ul>
                                <li><a href="">Land Surveying</a></li>
                                <li><a href="">Manufacturing and Selling </a></li>
                                <li><a href="">Building Construction</a></li>
                                <li><a href="">Structural and Architectural</a></li>
                                <li><a href="">Quantity Surveying</a></li>
                                <li><a href="">Road Construction</a></li>
                                <li><a href="">Information Technology Services</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="leadership_row">
                <h1><i class="fa fa-2x fa-quote-left"></i>LEADERSHIP TEAM <i class="fa fa-2x fa-quote-right"></i></h1>
            </div>

{#            <div class="row">#}
{#                <div class="leader1">#}
{#                    <div class="col-lg-3 col-md-3 col-sm-6">#}
{#                        <div class="thumbnail">#}
{#                            <img src="{% static 'layout/img/pic1.jpg' %}" alt="Philip Osew">#}
{#                            <div class="caption">#}
{#                                <h3>PHILIP OSEW</h3>#}
{#                                <p>jdbhcfsdbjl sdgcsdjc sdugcad dascadsvcsd sudbcv </p>#}
{#                                <p>#}
{#                                    <a href="#" class="btn btn-primary" role="button">Profile</a>#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="leader2">#}
{#                    <div class="col-lg-3 col-md-3 col-sm-6">#}
{#                        <div class="thumbnail">#}
{#                            <img src="{% static 'layout/img/pic2.jpg' %}" alt="Emmanuel Egyah">#}
{#                            <div class="caption">#}
{#                                <h3>EMMANUEL EGYAH</h3>#}
{#                                <p>jdbhcfsdbjl sdgcsdjc sdugcad dascadsvcsd sudbcv </p>#}
{#                                <p>#}
{#                                    <a href="#" class="btn btn-primary" role="button">Profile</a>#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="leader3">#}
{#                    <div class="col-lg-3 col-md-3 col-sm-6">#}
{#                        <div class="thumbnail">#}
{#                            <img src="{% static 'layout/img/pic4.jpg' %}" alt="Philip Osew">#}
{#                            <div class="caption">#}
{#                                <h3>PATRICK ACHEAMPONG</h3>#}
{#                                <p>jdbhcfsdbjl sdgcsdjc sdugcad dascadsvcsd sudbcv </p>#}
{#                                <p>#}
{#                                    <a href="#" class="btn btn-primary" role="button">Profile</a>#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="leader4">#}
{#                    <div class="col-lg-3 col-md-3 col-sm-6">#}
{#                        <div class="thumbnail">#}
{#                            <img src="{% static 'layout/img/pic3.jpg' %}" alt="Philip Osew">#}
{#                            <div class="caption">#}
{#                                <h3>STEPHEN ARCHER</h3>#}
{#                                <p>jdbhcfsdbjl sdgcsdjc sdugcad dascadsvcsd sudbcv </p>#}
{#                                <p>#}
{#                                    <a href="#" class="btn btn-primary" role="button">Profile</a>#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

            <div class="department_row">
                <h1><i class="fa fa-2x fa-quote-left"></i>OUR DEPARTMENTS<i class="fa fa-2x fa-quote-right"></i></h1>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="departments">
                        <h2><i class="fa fa-folder-o"></i>LAND SURVEY </h2>
                        <p>
                            This department under EGSO COMPANY LIMITED is solely into land documentations and engineering
                            surveying. The department makes sure that reliable and accurate documents relating to
                            land registrations are provided to its clients. It also makes sure that, settlement layouts
                            are well planned and demarcated on grounds to make movement very easy within residential areas.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="departments">
                        <h2><i class="fa fa-folder-o"></i>BUILDING AND CIVIL WORKS</h2>
                        <p>
                            The department controls any work pertaining to full structural design, architectural design,
                            building construction, road constructions, quantity survey and valuation.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="departments">
                        <h2><i class="fa fa-folder-o"></i>MANUFACTURING </h2>
                        <p>
                            The manufacturing department does only manufacturing and assembling of electrical and electric
                            products. They invent and design any specs of device no matter how it is, it is made
                            internally here in Ghana. The department designs and manufacture devices such as smart home
                            device, fuel analyzer, high level communication system for military, security systems and many more.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="departments">
                        <h2><i class="fa fa-folder-o"></i>INFORMATION TECHNOLOGY</h2>
                        <p>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="departments">
                        <h2><i class="fa fa-folder-o"></i>PRINTING PRESS</h2>
                        <p>
                            the printing press department does everything concerning printing. It is into general
                            printing and secretariat services. It does printings such as, banners, books, T-Shirt,
                            complementary cards. For the secretariat aspect, it does general typing, printing of documents
                            (A4 and A3), photocopying, scanning, binding and lamination.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="departments">
                        <h2><i class="fa fa-folder-o"></i>MARKETING AND SALES</h2>
                        <p>
                            The marketing and Sales department is into marketing the services of the company to the people.
                            They see to it that, the company gets contracts and also gather information from the
                            people concerning our services
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="departments">
                        <h2><i class="fa fa-folder-o"></i>PROCUREMENT</h2>
                        <p>
                            The procurement department is concerned with the purchasing of any product or device for the
                            company. It makes sure that good and profitable products are bought for the company at an
                            accepted and reasonable cost
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="departments">
                        <h2><i class="fa fa-folder-o"></i>ADMINISTRATION</h2>
                        <p>
                            This department administers all activities carried out in the company. It does supervision
                            of the various departments to make sure that every departmental body performs it duties daily.
                            It collects necessary information from the various departments and report to the Board
                            if necessary to be addressed.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="departments">
                        <h2><i class="fa fa-folder-o"></i>HEALTH AND SAFETY </h2>
                        <p>
                            The health and safety department ensures that the safety, health and welfare of all
                            employees are fully protected. It is designed to comply with the standards of the occupational
                            Safety and Health Administration, and to a safe and injury/illness free workers.
                        </p>
                    </div>
                </div>
            </div>

            <div class="department_row">
                <h1><i class="fa fa-2x fa-quote-left"></i></h1>
            </div>

{#            <div class="row">#}
{#                <div class="missions">#}
{#                    <div class="col-lg-4 col-md-6 col-sm-12">#}
{#                        <div class="departments">#}
{#                            <h2><i class="fa fa-folder"></i>MISSION</h2>#}
{#                            <div class="missions_body">#}
{#                                <p>#}
{#                                    Our mission is to create superior value for our client, shareholders and employees by being company leader in IT services in Africa.#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="visions">#}
{#                    <div class="col-lg-4 col-md-6 col-sm-12">#}
{#                        <div class="departments">#}
{#                            <h2><i class="fa fa-folder"></i>VISION</h2>#}
{#                            <div class="visions_body">#}
{#                                <p>#}
{#                                    Our vision serves as a supporting structure which guides every aspect of our business in the delivery and proactive improvement of our services#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="values">#}
{#                    <div class="col-lg-4 col-md-12 col-sm-12">#}
{#                        <div class="departments">#}
{#                            <h2><i class="fa fa-folder"></i>VALUES</h2>#}
{#                            <div class="values_body">#}
{#                                <ul>#}
{#                                    <li><span>Quality: </span> we do what we do well.</li>#}
{#                                    <li><span>Leadership: </span> leading from the from, showcasing our services and integrity.</li>#}
{#                                    <li><span>Integrity: </span> Honesty and strong moral principles.</li>#}
{#                                    <li><span>Teamwork: </span>working together to achieve a common goal.</li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="row">#}
{#                <div class="col-lg-12">#}
{#                    <div class="company_header">#}
{#                        <h2><i class="fa fa-folder"></i>WHAT WE DO</h2>#}
{#                    </div>#}
{#                    <div class="company-body">#}
{#                        <p>#}
{#                            We implement IT projects of any complexity. Our unmatched experience and strong technical competence enables us to deliver scalable solutions that meet customer's needs and expectations with regards to cost, quality and timeframes.#}
{#                        </p>#}
{#                        <p>#}
{#                            Our process guarantees early envisioning and fast development. Our project managers closely watch project flow and report progress to the client at all stages of our process from envisioning to delivery. With our Project Management tool, Clients and Our Team can view the progress of each project so that it can be delivered on time. All our projects come with the needed documentation and support. Our Services include:#}
{#                        </p>#}
{#                        <div class="what-we-do-includes">#}
{#                            <h4>Software Development</h4>#}
{#                            <p>#}
{#                                We have the expertise in custom development of web-based, distributed and standalone applications designed to meet your organization's specific requirements and business needs. We follow proven practices that results in successful project completion, and delivery of#}
{#                                solutions that exceed customer expectations. We have experience in working with broad range of customers, from individuals to some of the world’s largest companies.#}
{#                            </p>#}
{#                            <h4>Web Development</h4>#}
{#                            <p>#}
{#                                Epek provides a full range of highly professional, yet affordable web design and development services. Our core expertise is fast custom implementation of the feature rich websites with strong functional component and administration backend. We deliver web solutions that look great and work even better on daily basis#}
{#                            </p>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
{% endblock %}
