{% extends "layout/layout.html" %}
{% block title %}{{ block.super }} | our products{% endblock %}
{% block banner %}{% endblock %}
{% load static %}

{% block static_banner %}
    <div class="static_banner_our_services">
        <div class="static_banner_blur"></div>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>INFEG SMART HOME CONTROL DEVICES</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>
            </div>
        </div>
    </div>
     <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>INFEG SMART HOME SYSTEM(MULTY SYSTEM)</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>INFEG SMART TAP SYSTEM( SELF CHARGING)</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>

            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>INFEG SECURITY SYSTEM</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>INFEG FUEL ANALYSER</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>INFEG ADVANCED MILITARY EMERGENCY COMM SYSTEM</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>INFEG DATA LOGGER FOR HORSES</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>INFEG 3D PRINTER</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>INFEG E-MECHANICAL DRILLS</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>UNDERGROUD CABLE FAULT DETECTION</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>CUSTOMISED POLYGRAPH</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>PAGERS</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>REMOTE RECHARGE FOR ELECTRICITY</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>MAC WELLS ( SMART TAX COLLECTION )</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>MULTI SYSTEM FOR EXAMINATION CHECKER </h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>
            </div>
        </div>
    </div>
{% endblock %}


