{% extends "layout/layout.html" %}
{% block title %}{{ block.super }} | our services{% endblock %}
{% block banner %}{% endblock %}
{% load static %}

{% block static_banner %}
    <div class="static_banner_networking">
        <div class="static_banner_blur"></div>
    </div>
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>Network Cabling</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>Server Installation and Configuration</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>

            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>Network Setup</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>Firewalls</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>Network Security Testing</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>Intrusion Detection System</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>Virtual Private Networking</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-header">
                        <h2><i class="fa fa-folder-o"></i>Router Configuration</h2>
                    </div>
                    <p>
                        We have the expertise in custom development of web-based, distributed and standalone
                        applications designed to meet your organization's specific requirements and business needs. We
                        follow proven practices that results in successful project completion, and delivery of
                        solutions that exceed customer expectations. We have experience in working with broad range of
                        customers, from individuals to some of the world’s largest companies.
                    </p>
                    <button type="button" href="#" class="btn btn-primary">Contact Us</button>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'layout/img/pos.png' %}" alt="point of sales system">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
