{% extends "layout/layout.html" %}
{% block title %}{{ block.super }} | contact us{% endblock %}
{% block banner %}{% endblock %}
{% load static %}


{% block static_banner %}
    <div class="static_banner_our_services">
        <div class="static_banner_blur"></div>
    </div>
{% endblock %}


{% block content %}
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-info">
                        <div class="contact-info-header">
                            <h2>CONTACT INFORMATION</h2>
                        </div>
                        <div class="contact-info-body">
                            <ul>
                                <li><i class=""></i>Address: p. o. BOX AB 71</li>
                                <li>Website: www.epekghana.org</li>
                                <li>Email: epekghana@gmail.com</li>
                                <li>(00233)-2048941061</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-info">
                        <div class="contact-info-header">
                            <h2>CONTACT FORM</h2>
                        </div>
                        <div class="contact-info-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
